
BASE_URL=http://localhost:8080/
APP_NAME=TinyWiki
SITE_TYPE=wiki

DB_HOST=127.0.0.1
DB_NAME=wiki_app
DB_USER=wiki_app
DB_PASS=wiki_app

TODO_HOSTNAME=localhost:7070
TODO_TOKEN_ENDPOINT=http://localhost:7070/oauth/token
TODO_CLIENT_ID=ABCD
TODO_CLIENT_SECRET=ABCDEFGHIJ1234567890
TODO_SCOPES=
