
BASE_URL=http://localhost:7070/
APP_NAME=TinyWiki
SITE_TYPE=wiki

DB_HOST=127.0.0.1
DB_NAME=wiki_app
DB_USER=wiki_app
DB_PASS=wiki_app

TODO_HOSTNAME=localhost:9090
TODO_TOKEN_ENDPOINT=http://localhost:9090/oauth/token
TODO_CLIENT_ID=ABCD
TODO_CLIENT_SECRET=ABCDEFGHIJ1234567890
TODO_SCOPES=
